Implement RFC 9110 section 11.6.1

## Summary

<!-- Tell us what the suggestion is -->

In the interest of standardizing the concept of login across platforms, it'd be nice if misskey implemented RFC 9110 section 11.6.1:

"A server MAY generate a WWW-Authenticate header field in other response messages to indicate that supplying credentials (or different credentials) might affect the response." 

This would provide similar benefits to e.g. IRCv3's SASL, sidestepping "oblique login button placement".

instead of using an in-page login button, the browser can provide a standardized login button, using standard HTTP authentication (on pages with 200 response code, not 401).

this is only available in browsers that implement this optional part of RFC 9110, which are currently none of the major browsers. but the spec allows it.

it would not involve pop-ups or anything like that, but a button the user can click to trigger authentication. the nice thing is that it'd be consistent across websites and themes and whatnot.